/***************************** FONTS */
html{
    font-family: 'Lato', sans-serif;
    color: rgb(44, 33, 36);
}


/***************************** Global */
body {
    background-image: url(../img/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;  
}

/***************************** Navigation */
.nav ul li{
    display: inline-block; 
    text-decoration: none; 
}

/***************************** Anchors*/
a {
    text-decoration: none;
    color: 
}