/***************************** Global */
body {
    background: #999;
}

img {
    width: 50%; 
}

/***************************** Layout */



/*****************************Typography*/



/*****************************Navigation*/
a{ 
    background: #222; 
    border-radius: 5px; 
    display: block;  
    width: 100px;
    height: 50px; 
}

li{ 
    display: inline-block; 
}